<mat-toolbar color="primary">
    <button mat-button>Home</button>
    <button mat-button routerLink="scores">Scores</button>
    <button mat-icon-button class="user-button" [matMenuTriggerFor]="userMenu">
        <mat-icon class="user-icon">account_circle</mat-icon>
    </button>
    <mat-menu #userMenu>
        <button mat-menu-item *ngIf="loggedIn" (click)="logout()">Log out</button>
        <button mat-menu-item *ngIf="!loggedIn" routerLink="login">Sign in</button>
    </mat-menu>
</mat-toolbar>